doctype html
html
  head
    title To-Do App
    link(rel="stylesheet", href="/stylesheets/dashboard.css")
  body
    .dashboard-wrapper
    a.logout-button(href='/logout') Logout

    #container

      .todo-panel
        .top-bar
          span.title Your To-Do Lists
          .actions
            button#delete-toggle 🗑️
            button#create-toggle ＋

      .todo-scroll-container
        ul.todo-list
          each list in lists
            li.todo-item(data-id=list.id)
              label.select-box
                input(type="checkbox", class="multi-select", style="display: none")
              a(href=`/list/${list.id}`)= list.name
              if list.image
                img(src=`/uploads/${list.image}`, alt='List Image', width='50')

        // Popup form (initially hidden)
        .popup-form.hidden
          form(method='POST', action='/dashboard/create', enctype='multipart/form-data')
            h2 Create New List
            .row
              label(for='name') List Name:
              input(type='text', name='name', required)
            .row
              label(for='image') Optional Image:
              label.custom-file-button(for='image') Upload Image
              input(type='file', name='image', id='image', class='real-file-input', hidden)
              span.filename No file chosen

            button(type='submit')#submitButton Create
    script(src="/javascripts/dashboard.js")

  