extends layout

block content
  h1 Login
  if error
    p.error= error
  form(method='POST', action='/login')
    label(for='username') Username:
    input(type='text', name='username', required)
    br
    label(for='password') Password:
    input(type='password', name='password', required)
    br
    button(type='submit') Login
  p
    a(href='/register') Register
