extends layout

block content
  #container
    h1#title Hello back !
    if error
      p.error= error
    form(method='POST', action='/auth/login')
      #inputcontainer
        .row
          label(for='username') Username:
          input(type='text', name='username', required)
        .row
          label(for='password') Password:
          input(type='password', name='password', required)
      button(type='submit')#submitButton Login
    p
      a(href='/auth/register') Register