extends layout

block content
  .auth-wrapper
    .auth-box
      h2 Welcome !
      if error
        p.error= error
      form(method='POST', action='/auth/register')
        .row
          label(for='username') Username:
          input(type='text', name='username', required)
        .row
          label(for='password') Password:
          input(type='password', name='password', required)
        button(type='submit') Register
      p
        a(href='/auth/login') Login

block scripts
  if currentPath && (currentPath.startsWith('/auth/login') || currentPath.startsWith('/auth/register'))
    script(src="/javascripts/flowerRain.js")
