

html {
  font-family: "Source Code Pro", monospace;
  background-color: var(--bg-color); 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-weight: 400;
  font-size: 30px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1, h2 {
  color: #333;
}

.error {
  color: red;
}

form {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  margin-bottom: 5px;
}

button {
  padding: 5px 10px;
}
