:root {
  --bg-color: #0b0b0b;
  --grey2-color: rgb(22, 22, 22);
  --grey3-color : rgb(46, 46, 46);
  --text-color : rgb(231, 231, 231);
  --main-color : rgb(202, 158, 0); /*rgba(247, 151, 29,)*/
}

html {
  font-family: "Source Code Pro", monospace;
  background-color: var(--bg-color); 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color : var(--text-color)
}

#window-cont {
  background-color: var(--grey2-color);
  border-radius: 20px;
}

#title-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#list-image {
  height : 50px;
  width : 50px
}

#fake-navbar {
  height : 20px;
  width : 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: var(--grey3-color);
  padding : 20px 0px;
  border-radius: 20px 20px 0 0;
}

.mac-buttons {
  display: flex;
  gap: 8px;
  padding-left: 15px;
}

.red-button,
.yellow-button,
.green-button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.red-button {
  background-color: #ff5f56;
  position: relative;
  text-decoration: none;
}

.red-button .cross {
  display: none;
  position: absolute;
  color: white;
  font-size: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.red-button:hover .cross {
  display: block;
}

.yellow-button {
  background-color: #ffbd2e;
}

.green-button {
  background-color: #27c93f;
}
